@charset "UTF-8";

body {
    background-color: #69dbdf;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px black;
}

section {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;
    width: 500px;
    padding: 10px;
    border: 1px solid black;
}

#foto {
    display: flex;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
}

footer {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px black;
}